# Data Cleaning
> Objectives:
    - Given a messy dataset - extract meaningful information from it. 
    - Learn from the data.

In [11]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_columns', None)

In [ ]:
# read vehicles_messy.csv
# quick analysis
# display more columns on the dataframe visualization

## Data types

### Checking data types of our dataset

In [22]:
# Your code here!
df = pd.read_csv('C:\\Users\\renat\\OneDrive\\Documents\\Ironhack\Dados\\vehicles_messy.csv')

C:\Users\renat\AppData\Local\Temp\ipykernel_48180\274173518.py:2: DtypeWarning: Columns (70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:\\Users\\renat\\OneDrive\\Documents\\Ironhack\Dados\\vehicles_messy.csv')

### Convert values using `.astype()`

Converts the type of the column

In [13]:
df['year'] = df['year'].astype('int')

In [9]:
df.dtype[df]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37843 entries, 0 to 37842
Data columns (total 83 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   barrels08        37843 non-null  float64
 1   barrelsA08       37843 non-null  float64
 2   charge120        37843 non-null  float64
 3   charge240        37843 non-null  float64
 4   city08           37843 non-null  int64
 5   city08U          37843 non-null  float64
 6   cityA08          37843 non-null  int64
 7   cityA08U         37843 non-null  float64
 8   cityCD           37843 non-null  float64
 9   cityE            37843 non-null  float64
 10  cityUF           37843 non-null  float64
 11  co2              37843 non-null  int64
 12  co2A             37843 non-null  int64
 13  co2TailpipeAGpm  37843 non-null  float64
 14  co2TailpipeGpm   37843 non-null  float64
 15  comb08           37843 non-null  int64
 16  comb08U          37843 non-null  float64
 17  combA08          37843 non-null  int64
 18  combA08U         37843 non-null  float64
 19  combE            37843 non-null  float64
 20  combinedCD       37843 non-null  float64
 21  combinedUF       37843 non-null  float64
 22  cylinders        37720 non-null  float64
 23  displ            37723 non-null  float64
 24  drive            36654 non-null  object
 25  engId            37843 non-null  int64
 26  eng_dscr         22440 non-null  object
 27  feScore          37843 non-null  int64
 28  fuelCost08       37843 non-null  int64
 29  fuelCostA08      37843 non-null  int64
 30  fuelType         37843 non-null  object
 31  fuelType1        37843 non-null  object
 32  ghgScore         37843 non-null  int64
 33  ghgScoreA        37843 non-null  int64
 34  highway08        37843 non-null  int64
 35  highway08U       37843 non-null  float64
 36  highwayA08       37843 non-null  int64
 37  highwayA08U      37843 non-null  float64
 38  highwayCD        37843 non-null  float64
 39  highwayE         37843 non-null  float64
 40  highwayUF        37843 non-null  float64
 41  hlv              37843 non-null  int64
 42  hpv              37843 non-null  int64
 43  id               37843 non-null  int64
 44  lv2              37843 non-null  int64
 45  lv4              37843 non-null  int64
 46  make             37843 non-null  object
 47  model            37843 non-null  object
 48  mpgData          37843 non-null  object
 49  phevBlended      37843 non-null  bool
 50  pv2              37843 non-null  int64
 51  pv4              37843 non-null  int64
 52  range            37843 non-null  int64
 53  rangeCity        37843 non-null  float64
 54  rangeCityA       37843 non-null  float64
 55  rangeHwy         37843 non-null  float64
 56  rangeHwyA        37843 non-null  float64
 57  trany            37832 non-null  object
 58  UCity            37843 non-null  float64
 59  UCityA           37843 non-null  float64
 60  UHighway         37843 non-null  float64
 61  UHighwayA        37843 non-null  float64
 62  VClass           37843 non-null  object
 63  year             37843 non-null  int64
 64  youSaveSpend     37843 non-null  int64
 65  guzzler          2281 non-null   object
 66  trans_dscr       15047 non-null  object
 67  tCharger         5186 non-null   object
 68  sCharger         666 non-null    object
 69  atvType          3072 non-null   object
 70  fuelType2        1408 non-null   object
 71  rangeA           1403 non-null   object
 72  evMotor          562 non-null    object
 73  mfrCode          7025 non-null   object
 74  c240Dscr         37 non-null     object
 75  charge240b       37843 non-null  float64
 76  c240bDscr        36 non-null     object
 77  createdOn        37843 non-null  object
 78  modifiedOn       37843 non-null  object
 79  startStop        6138 non-null   object
 80  phevCity         37843 non-null  int64
 81  phevHwy          37843 non-null  int64
 82  phevComb         37843 non-null  int64
dtypes: bool(1), float64(32), int64(27), object(23)
memory usage: 23.7+ MB

### Convert values using map

## Null (or missing) values

>    - Called NaN: <u>Not A Number</u>
>    - Count 
>    - <b>Mask</b> concept

### `np.nan`

### Let's select the displ column and see how many missing values this column has.

### How to count it how many missing there are?

### What if we wanted to count Null values for each row?
    - axis = 1

### What if I wanted to select only the rows in which there are at least one missing value (in any column)?

## Dropping columns
> `axis=1` or

> `columns = ['name_of_column_to_drop1', 'name_of_column_to_drop2' ,...]`

### Drop columns based on condition

In [24]:
df_droped = df.dropna(axis=1, thresh = df.shape[0]*0.6)

In [33]:
dir(df_droped['drive'])

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_append',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_cacher',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_rename',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [37]:
df_droped_string = df_droped.select_dtypes(include='object')

In [40]:
df_droped_string

,drive,fuelType,fuelType1,make,model,mpgData,trany,VClass,createdOn,modifiedOn
0,Rear-Wheel Drive,Regular,Regular Gasoline,Alfa Romeo,Spider Veloce 2000,Y,Manual 5-spd,Two Seaters,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
1,Rear-Wheel Drive,Regular,Regular Gasoline,Ferrari,Testarossa,N,Manual 5-spd,Two Seaters,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
2,Front-Wheel Drive,Regular,Regular Gasoline,Dodge,Charger,Y,Manual 5-spd,Subcompact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
3,Rear-Wheel Drive,Regular,Regular Gasoline,Dodge,B150/B250 Wagon 2WD,N,Automatic 3-spd,Vans,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
4,4-Wheel or All-Wheel Drive,Premium,Premium Gasoline,Subaru,Legacy AWD Turbo,N,Manual 5-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
...,...,...,...,...,...,...,...,...,...,...
37838,Front-Wheel Drive,Regular,Regular Gasoline,Subaru,Legacy,N,Automatic 4-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37839,Front-Wheel Drive,Regular,Regular Gasoline,Subaru,Legacy,N,Manual 5-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37840,4-Wheel or All-Wheel Drive,Regular,Regular Gasoline,Subaru,Legacy AWD,Y,Automatic 4-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37841,4-Wheel or All-Wheel Drive,Regular,Regular Gasoline,Subaru,Legacy AWD,N,Manual 5-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013
37842,4-Wheel or All-Wheel Drive,Premium,Premium Gasoline,Subaru,Legacy AWD Turbo,N,Automatic 4-spd,Compact Cars,Tue Jan 01 00:00:00 EST 2013,Tue Jan 01 00:00:00 EST 2013

In [46]:
df_droped_string.groupby(['drive'])

In [42]:
df_droped_string.columns

Index(['drive', 'fuelType', 'fuelType1', 'make', 'model', 'mpgData', 'trany',
       'VClass', 'createdOn', 'modifiedOn'],
      dtype='object')

In [50]:
df_droped_string['drive'].value_counts()

Front-Wheel Drive             13286
Rear-Wheel Drive              12931
4-Wheel or All-Wheel Drive     6648
All-Wheel Drive                2057
4-Wheel Drive                  1065
2-Wheel Drive                   507
Part-time 4-Wheel Drive         159
2-Wheel Drive, Front              1
Name: drive, dtype: int64

In [76]:
df_droped_string.groupby(['VClass','drive'])['drive'].count().sort_index

<bound method Series.sort_index of VClass                              drive
Compact Cars                        4-Wheel Drive                   52
                                    4-Wheel or All-Wheel Drive     354
                                    All-Wheel Drive                283
                                    Front-Wheel Drive             3653
                                    Rear-Wheel Drive               906
Large Cars                          2-Wheel Drive                    3
                                    4-Wheel Drive                   19
                                    4-Wheel or All-Wheel Drive      65
                                    All-Wheel Drive                226
                                    Front-Wheel Drive              658
                                    Rear-Wheel Drive               831
Midsize Cars                        4-Wheel Drive                   33
                                    4-Wheel or All-Wheel Drive     185
                                    All-Wheel Drive                273
                                    Front-Wheel Drive             2590
                                    Part-time 4-Wheel Drive         10
                                    Rear-Wheel Drive              1033
Midsize Station Wagons              4-Wheel Drive                   14
                                    4-Wheel or All-Wheel Drive     116
                                    All-Wheel Drive                  8
                                    Front-Wheel Drive              266
                                    Rear-Wheel Drive                18
Midsize-Large Station Wagons        4-Wheel or All-Wheel Drive      57
                                    Front-Wheel Drive              384
                                    Rear-Wheel Drive               199
Minicompact Cars                    2-Wheel Drive, Front             1
                                    4-Wheel Drive                  104
                                    4-Wheel or All-Wheel Drive     143
                                    All-Wheel Drive                 22
                                    Front-Wheel Drive              359
                                    Part-time 4-Wheel Drive          2
                                    Rear-Wheel Drive               595
Minivan - 2WD                       2-Wheel Drive                    2
                                    Front-Wheel Drive              335
                                    Rear-Wheel Drive                 1
Minivan - 4WD                       4-Wheel or All-Wheel Drive      39
                                    All-Wheel Drive                  8
Small Pickup Trucks                 4-Wheel or All-Wheel Drive      80
                                    Front-Wheel Drive                2
                                    Rear-Wheel Drive               456
Small Pickup Trucks 2WD             2-Wheel Drive                  120
                                    Front-Wheel Drive                1
                                    Rear-Wheel Drive               302
Small Pickup Trucks 4WD             4-Wheel Drive                   71
                                    4-Wheel or All-Wheel Drive     103
                                    Part-time 4-Wheel Drive         35
Small Sport Utility Vehicle 2WD     Front-Wheel Drive              358
                                    Rear-Wheel Drive                22
Small Sport Utility Vehicle 4WD     4-Wheel Drive                  147
                                    All-Wheel Drive                347
                                    Part-time 4-Wheel Drive          2
Small Station Wagons                4-Wheel or All-Wheel Drive     254
                                    All-Wheel Drive                117
                                    Front-Wheel Drive              917
                                    Rear-Wheel Drive                97
Special Purpose Vehicle             Rear-Wheel Drive                 1
Special Purpose Vehicle 2WD         2-Wheel Drive                   60
                                    Front-Wheel Drive              185
                                    Rear-Wheel Drive               362
Special Purpose Vehicle 4WD         4-Wheel Drive                   11
                                    4-Wheel or All-Wheel Drive     285
                                    All-Wheel Drive                  4
                                    Front-Wheel Drive                1
Special Purpose Vehicles            2-Wheel Drive                   17
                                    4-Wheel Drive                    8
                                    4-Wheel or All-Wheel Drive     996
                                    Front-Wheel Drive              159
                                    Rear-Wheel Drive               273
Special Purpose Vehicles/2wd        Rear-Wheel Drive                 2
Special Purpose Vehicles/4wd        4-Wheel Drive                    2
Sport Utility Vehicle - 2WD         2-Wheel Drive                   15
                                    Front-Wheel Drive              694
                                    Rear-Wheel Drive               918
Sport Utility Vehicle - 4WD         4-Wheel Drive                  244
                                    4-Wheel or All-Wheel Drive    1564
                                    All-Wheel Drive                258
                                    Part-time 4-Wheel Drive         17
                                    Rear-Wheel Drive                 7
Standard Pickup Trucks              2-Wheel Drive                    1
                                    4-Wheel or All-Wheel Drive    1143
                                    Rear-Wheel Drive              1210
Standard Pickup Trucks 2WD          2-Wheel Drive                  151
                                    Rear-Wheel Drive              1020
Standard Pickup Trucks 4WD          4-Wheel Drive                  141
                                    4-Wheel or All-Wheel Drive     764
                                    All-Wheel Drive                  9
                                    Part-time 4-Wheel Drive         64
Standard Pickup Trucks/2wd          Rear-Wheel Drive                 4
Standard Sport Utility Vehicle 2WD  Front-Wheel Drive               52
                                    Rear-Wheel Drive               127
Standard Sport Utility Vehicle 4WD  4-Wheel Drive                  197
                                    All-Wheel Drive                186
                                    Part-time 4-Wheel Drive         28
                                    Rear-Wheel Drive                 2
Subcompact Cars                     4-Wheel Drive                   22
                                    4-Wheel or All-Wheel Drive     245
                                    All-Wheel Drive                177
                                    Front-Wheel Drive             2465
                                    Rear-Wheel Drive              1570
Two Seaters                         4-Wheel or All-Wheel Drive      80
                                    All-Wheel Drive                109
                                    Front-Wheel Drive              198
                                    Part-time 4-Wheel Drive          1
                                    Rear-Wheel Drive              1435
Vans                                4-Wheel or All-Wheel Drive      77
                                    Front-Wheel Drive                7
                                    Rear-Wheel Drive              1057
Vans Passenger                      Rear-Wheel Drive                 2
Vans, Cargo Type                    2-Wheel Drive                   80
                                    4-Wheel or All-Wheel Drive      62
                                    All-Wheel Drive                 20
                                    Front-Wheel Drive                1
                                    Rear-Wheel Drive               275
Vans, Passenger Type                2-Wheel Drive                   58
                                    4-Wheel or All-Wheel Drive      36
                                    All-Wheel Drive                 10
                                    Front-Wheel Drive                1
                                    Rear-Wheel Drive               206
Name: drive, dtype: int64>

In [63]:
pd.set_option('display.max_rows', None)

In [81]:
df_droped_string.groupby(['VClass','drive'])[df_droped_string['drive'].isna()]

KeyError: 'Columns not found: False, True'

In [93]:
mask_display = df_droped_string['drive'].isna()
df_droped_string[mask_display].groupby(['VClass']).value_counts()

Series([], dtype: int64)

In [92]:
mask_display = df_droped_string['drive'].isna()
df_droped_string[~(mask_display)].groupby(['VClass']).count()

,drive,fuelType,fuelType1,make,model,mpgData,trany,createdOn,modifiedOn
VClass,,,,,,,,,
Compact Cars,5248,5248,5248,5248,5248,5248,5248,5248,5248
Large Cars,1802,1802,1802,1802,1802,1802,1802,1802,1802
Midsize Cars,4124,4124,4124,4124,4124,4124,4124,4124,4124
Midsize Station Wagons,422,422,422,422,422,422,422,422,422
Midsize-Large Station Wagons,640,640,640,640,640,640,640,640,640
Minicompact Cars,1226,1226,1226,1226,1226,1226,1226,1226,1226
Minivan - 2WD,338,338,338,338,338,338,338,338,338
Minivan - 4WD,47,47,47,47,47,47,47,47,47
Small Pickup Trucks,538,538,538,538,538,538,538,538,538
Small Pickup Trucks 2WD,423,423,423,423,423,423,423,423,423
Small Pickup Trucks 4WD,209,209,209,209,209,209,209,209,209
Small Sport Utility Vehicle 2WD,380,380,380,380,380,380,380,380,380
Small Sport Utility Vehicle 4WD,496,496,496,496,496,496,496,496,496
Small Station Wagons,1385,1385,1385,1385,1385,1385,1385,1385,1385
Special Purpose Vehicle,1,1,1,1,1,1,1,1,1
Special Purpose Vehicle 2WD,607,607,607,607,607,607,607,607,607
Special Purpose Vehicle 4WD,301,301,301,301,301,301,301,301,301
Special Purpose Vehicles,1453,1453,1453,1453,1453,1453,1453,1453,1453
Special Purpose Vehicles/2wd,2,2,2,2,2,2,2,2,2
Special Purpose Vehicles/4wd,2,2,2,2,2,2,2,2,2
Sport Utility Vehicle - 2WD,1627,1627,1627,1627,1627,1627,1621,1627,1627
Sport Utility Vehicle - 4WD,2090,2090,2090,2090,2090,2090,2090,2090,2090
Standard Pickup Trucks,2354,2354,2354,2354,2354,2354,2354,2354,2354
Standard Pickup Trucks 2WD,1171,1171,1171,1171,1171,1171,1169,1171,1171
Standard Pickup Trucks 4WD,978,978,978,978,978,978,978,978,978
Standard Pickup Trucks/2wd,4,4,4,4,4,4,4,4,4
Standard Sport Utility Vehicle 2WD,179,179,179,179,179,179,179,179,179
Standard Sport Utility Vehicle 4WD,413,413,413,413,413,413,413,413,413
Subcompact Cars,4479,4479,4479,4479,4479,4479,4479,4479,4479
Two Seaters,1823,1823,1823,1823,1823,1823,1823,1823,1823
Vans,1141,1141,1141,1141,1141,1141,1141,1141,1141
Vans Passenger,2,2,2,2,2,2,2,2,2
"Vans, Cargo Type",438,438,438,438,438,438,438,438,438
"Vans, Passenger Type",311,311,311,311,311,311,311,311,311

### Using `dropna`

### Fill with some value

## Checking duplicates rows
    
>    - Dropping fully duplicate row
>    - Subset
>    - `.duplicated()`
>    - `.drop_duplicated()`

In [94]:
frutas = pd.DataFrame({
    'fruta':['laranja', 'laranja', 'mamão', 'laranja'],
    'cidade':['Rio de Janeiro', 'Atibaia', 'Campinas', 'Rio de Janeiro']
})

In [95]:
frutas

     fruta          cidade
0  laranja  Rio de Janeiro
1  laranja         Atibaia
2    mamão        Campinas
3  laranja  Rio de Janeiro